<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->

Acces-Control-Allow-Origin: *

<dom-module id="abc-emisora-serie">
  <template>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->

    <style>
      :host {
        display: block;
      }
      .button {
          border: none;
          color: white;
          padding: 15px 25px;
          text-align: center;
          border: 2px solid #1883ba;
          font-size: 16px;
          cursor: pointer;
          background-color: #1883ba;
          border-radius: 6px;
          margin-left: 10px;
        }
        .button:hover{
          color: #1883ba;
          background-color: white;
        }

        .button2 {
            border: none;
            color: white;
            padding: 15px 15px;
            text-align: center;
            border: 2px solid  	#03BB85;
            font-size: 16px;
            cursor: pointer;
            background-color: 	#03BB85;
            border-radius: 6px;
            margin-left: 10px;
          }
          .button2:hover{
            color:  	#03BB85;
            background-color: white;
          }

        .button3 {
            border: none;
            color: white;
            padding: 15px 15px;
            text-align: center;
            border: 2px solid  	#00008B;
            font-size: 16px;
            cursor: pointer;
            background-color: 	#00008B;
            border-radius: 6px;
            margin-left: 10px;
          }
          .button3:hover{
            color:  	#00008B;
            background-color: white;
          }


          .td {border: 1px #DDD solid; padding: 5px; cursor: pointer;}

          .selected {
              background-color: brown;
              color: #FFF;
          }


        .h2{

          border-style: solid;
          border-color: #1883ba;
          background-color: #1883ba;
          width: 100%;
          border-radius: 6px;
          text-align: center;

        }

        .h5{

          border-style: solid;
          border-color: #03BB85;
          background-color: #03BB85;
          width: 100%;
          border-radius: 6px;
          text-align: center;

        }



    </style>


    <div class="container">

<!--      <div class="row" hidden$={{!logado}} id = "pag1">
        <login-app  page="login-app"  value ={{logado}}     ></login-app>

      </div> -->
      <div>
        <div class="row">
          <h2 class="h2"  style="color:white" >Proyecto Practitioner de JDSA</h2>
        </div>
      </div>

      <div   hidden$={{!visualizarFirmado}} >
        <!--<h2 style="text-align:left">Ingreso al proyecto de JDSA</h2>-->
        <div class="container">
            <div class="row"  >
                  <div  class="col-lg-3 col-md-6 col-xs-12">
                      <div >
                        <br>
                        <br>
                        <label  for="lblEmail">Email:</label>
                        <br>
                        <br>
                        <label  for="lblPassword">Password:</label>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-xs-12">
                      <div >
                        <br>
                        <br>
                        <input type ="text" value="{{Email::input}}">
                        <br>
                        <br>
                        <input  type ="password" name= "Password" value="{{Password::input}}" >
                      </div>
                  </div>
            </div>
            <div class="row">
                  <div align="center" class="col-lg-3 col-md-6 col-xs-12">
                      <div >
                        <br>
                        <br>
                        <button on-click="login" class="button" >Login</button>
                      </div>
                  </div>
                  <div align="center" class="col-lg-3 col-md-6 col-xs-12">
                      <div >
                        <br>
                        <br>
                        <button type="cancel" class="button" onclick="javascript:window.location='http://google.com';">Salir</button>
                      </div>
                  </div>
            </div>

        </div>
        <!--<button on-click="login" class="btn btn-success">Login</button>-->
        <!--<button on-click="cerrarse" class="btn btn-success">Salir</button>-->

        <br>
      </div>

      <div    hidden$={{!visualizarMenu}} >
        <h5 class="h5"  style="color:white"> Menu Principal</h5>
        <button on-click="UsuariosAM" class="button">Usuarios</button>
        <button on-click="CuentasMovimientosAM" class="button">Cuenta/Movimiento</button>
        <button on-click="apiPublico" class="button">Uso de otro API</button>
        <button type="cancel" class="button" onclick="javascript:window.location='http://127.0.0.1:8081/components/proyectopolymer/';">Salir</button>

    </div>
<!--**************************************Inicio Usuario**************************************-->
      <div     hidden$={{!visualizarUsuarios}} >
        <h5 class="h5"  style="color:white">Usuarios</h5>
        <button type="button" on-click="altaUsuarios" class="button2" name="button">Alta</button>
        Consulta por Email:<input type ="text" value="{{EmailConsulta::input}}">
        <button type="button" on-click="obtenerUsuarios" class="button2" name="button">Consulta</button>
        <!--Fecha de alta:<input type ="date" data-format = "dd/MM/yyyy"  value="{{fh_consulta::input}}">-->
        <button type="button" on-click="regresarMenu"class="button2" name="button">Regresar</button>
      </div>
      <div  hidden$={{!visualizarUsuariosAltaModifica}}>
        <h5 class="h5"  style="color:white">Ingresar datos de Usuarios Asset Managament</h5>
        <br>
        <div class="row"  >
          <div  class="col-lg-3 col-md-6 col-xs-12">
            <label  for="lblIdCliente">ID:</label>
            <br>
            <label  for="lblNombre">Nombre del Usuario:</label>
            <br>
            <label  for="lblApellidos">Apellido:</label>
            <br>
            <label  for="lblEmail">Email:</label>
            <br>
            <label  for="lblPassword">Password:</label>
        </div>
        <div  class="col-lg-3 col-md-6 col-xs-12">
            <input type ="IdClienteMax"  disabled="false" value="{{IdClienteMax::input}}">
            <br>
            <input type ="Nombre"  value="{{Nombre::input}}">
            <br>
            <input type ="Apellido" value="{{Apellido::input}}">
            <br>
            <input type ="Email" value="{{Email::input}}">
            <br>
            <input type ="password" value="{{Password::input}}">
        </div>
      </div>
      <div class="row"  >
        <br>
          <button type="button" on-click="insertarUsuario" class="button3" name="button">Guardar</button>
          <button type="button" on-click="cancelarUsuario" class="button3" name="button">Salir</button>
        <br>
      </div>
      </div>
      <div class="row" hidden$={{!visualizarUsuariosArreglo}}>
        <table class="table table-striped">
            <thead>
                <tr class="thead">
                    <th>Id Cliente</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Password</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
              <template is="dom-repeat" items = "{{usuarios}}">
                <tr>
                  <td>
                    [[item.IdCliente]]
                  </td>
                  <td>
                    [[item.Nombre]]
                  </td>
                  <td>
                    [[item.Apellido]]
                  </td>
                  <td>
                    [[item.Password]]
                  </td>
                  <td>
                    [[item.Email]]
                  </td>
                  <td>
                    [[item.Alta]]
                  </td>
                </tr>
              </template>
            </tbody>
        </table>
      </div>
<!--**************************************Fin Usuario**************************************-->
<!--**************************************Inicio Emisora Serie**************************************-->
<div     hidden$={{!visualizarCuentasMovimientos}} >
  <h5 class="h5"  style="color:white">Cuentas y Movimientos</h5>
  <button type="button" on-click="altaCuenta" class="button2" name="button">Cuenta</button>
  <button type="button" on-click="altaMovimientos" class="button2" name="button">Movimientos </button>
  <button type="button" on-click="consultaCuentasMovimientos" class="button2" name="button">Reporte</button>
  <button type="button" on-click="regresarMenu" class="button2" name="button">Regresar</button>
</div>

<div  hidden$={{!visualizarCuentaAlta}}>
  <h5 class="h5"  style="color:white">Ingresar nuevos datos de la Cuenta</h5>
  <br>

  <div class="row"  >
    <div  class="col-lg-3 col-md-6 col-xs-12">
      <label  for="lblCuenta">Cuenta:</label>
      <br>
      <label  for="lblIdCliente">IdCliente:</label>
    </div>
    <div  class="col-lg-3 col-md-6 col-xs-12">
      <input type ="IdCuentaNueva"   value="{{IdCuentaNueva::input}}">
      <br>
      <input type ="IdClienteExiste" value="{{IdClienteExiste::input}}">
    </div>
  </div>
  <div class="row"  >
    <br>
      <button  type="button"  on-click="obtenerCliente" class="button3" >Guardar</button>
      <button  type="button"  on-click="cancelarCuenta" class="button3" >Salir</button>
  </div>
</div>
<!--**************************************Inicio Cuenta Cliente**************************************-->
<div  hidden$={{!visualizarBuscaCuentaCliente}}>
  <h5 class="h5"  style="color:white">Ingresar datos de los movimientos de una cuenta</h5>
  <br>
  IdCliente:<input type ="IdCuentaClientexiste" value="{{IdCuentaClientexiste::input}}">
  <button  type="button"    on-click="obtenerCuentaCliente" class="button2" >Buscar</button>
  <button  type="button"    on-click="regresarCuentaCliente" class="button2" >Regresar</button>
  <br>
</div>
<div class="row" hidden$={{!visualizarCuentaCliente}}>
  <table id="table" class="table table-striped" on-click="cuentaSeleccionada"  >
        <thead>
		    <tr class="thead">
			         <th>Id Cuenta</th>
			          <th>Cliente</th>
		    </tr>
	     </thead>
      <tbody>
        <template is="dom-repeat" items = "{{obtieneCuentaCliente}}">
          <tr>
            <td class="td">
              [[item.IdCuenta]]
            </td>
            <td class="td">
              [[item.Cliente]]
            </td>
          </tr>
        </template>
      </tbody>
  </table>
</div>

<!--**************************************Inicio Captura de Movimientos **************************************-->
<div  hidden$={{!visualizarCapturaCuentaCliente}}>
  <div class="row"  >
    <div class="col-lg-3 col-md-6 col-xs-12">
      <label  for="lblIdMov">Id:</label>
      <br>
      <label  for="lblFechaMov">Fecha:</label>
      <br>
      <label  for="lblImporteMov">Importe:</label>
      <br>
      <label  for="lblTipoMov">Tipo:</label>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
      <input type ="Id" disabled = "false" value="{{Id::input}}">
      <br>
      <input type ="Date" value="{{Fecha::input}}">
      <br>
      <input type ="Importe" value="{{Importe::input}}">
      <br>
      <input type ="Tipo" value="{{Tipo::input}}">
    </div>
  </div>
  <div class="row"  >
    <br>
    <button  type="button"  on-click="guardaMovimiento" class="button3" >Guardar</button>
    <button type="button" on-click="cancelaMovimiento" class="button3" name="cancelaMovimiento">Salir</button>
  </div>
</div>

<!--**************************************Inicio Consulta de Cuentas y de Movimientos **************************************-->
<div     hidden$={{!visualizarConsultaCuentasMovimientos}} >
  <h5 class="h5"  style="color:white">Reporte</h5>
  <br>
  IdCliente:<input type ="IdConsultaCliente" value="{{IdConsultaCliente::input}}">
  IdCuenta:<input type ="IdConsultaCuenta" value="{{IdConsultaCuenta::input}}">
  <button type="button" on-click="obtenerCuentaMovimientosCliente" class="button2" name="button">Consulta</button>
  <button type="button" on-click="regresarConsulta" class="button2" name="button">Regresar</button>
</div>

<div class="row" hidden$={{!visualizarCuentasMovimientosArreglo}}>
  <table class="table table-striped">
      <thead>
        <tr class="thead" name = "cuenta">
            <th>Id Cuenta</th>
            <th>Cliente</th>
          </tr>
      </thead>
      <tbody>
        <template is="dom-repeat" items = "{{ConsultaCuenta}}" as ="consulta" thead = "cuenta">
          <tr>
            <td>
              [[consulta.IdCuenta]]
            </td>
            <td>
              [[consulta.Cliente]]
            </td>
          </tr>
        </template>
      </tbody>
  </table>
  <table class="table table-striped">
    <thead>
      <tr class="thead" name = "mov" >
             <th>Movimiento</th>
             <th>Fecha</th>
             <th>Importe</th>
             <th>Tipo</th>
      </tr>
    </thead>
      <tbody>
        <template is="dom-repeat" items = "{{ConsultaCuenta}}" as = "movimientos">
          <template is="dom-repeat" items="{{movimientos.listado}}" >
          <tr>
            <td>
              [[item.Id]]
            </td>
            <td>
              [[item.Fecha]]
            </td>
            <td>
              [[item.Importe]]
            </td>
            <td>
              [[item.Tipo]]
            </td>
          </tr>
          </template>
        </template>
      </tbody>
  </table>

</div>

<!--**************************************Fin Emisora Serie**************************************-->
<!--**************************************Inicio Api Externa**************************************-->
<div  hidden$={{!visualizarApiExterno}}>
  <h5 class="h5"  style="color:white">Consulta de clientes Northwind</h5>
  <button  type="button"    on-click="obtenerClientesMexico" class="button2" >Buscar Clientes México</button>
  <button  type="button"    on-click="regresarClientesMexico" class="button2" >Regresar</button>
  <br>
</div>
<div class="row" hidden$={{!visualizarApiExternoConsulta}}>
  <table id="table" class="table table-striped"   >
        <thead>
		    <tr class="thead">
			         <th>Id Cliente</th>
			          <th>Compañia</th>
                <th>Dirección</th>
                <th>Ciudad</th>
                <th>País</th>
		    </tr>
	     </thead>
      <tbody>

        <template is="dom-repeat" items = "{{apiexternaA.value}}">
          <tr>
            <td class="td">
              [[item.CustomerID]]
            </td>
            <td class="td">
              [[item.CompanyName]]
            </td>
            <td class="td">
              [[item.Address]]
            </td>
            <td class="td">
              [[item.City]]
            </td>
            <td class="td">
              [[item.Country]]
            </td>

          </tr>
        </template>
      </tbody>
  </table>
</div>






    </div>


    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/login"
      content-type="application/json"
      crossDomain: true
      dataType = 'jsonp'
      method ="POST"
      last-response = "{{validacion}}"
      handle-as = "json"
      headers = "Acces-Control-Allow-Headers: *"
      on-response = "respuestaFirmado"
      on-error = "errorFirmado">
    <iron-ajax
      id="doUsuario"
      url="http://localhost:3000/Todosusuarios"
      content-type="application/json"
      crossDomain: true
      dataType = 'jsonp'
      method ="POST"
      last-response = "{{usuarios}}"
      handle-as = "json"
      headers = "Acces-Control-Allow-Headers: *"
      on-response = "respuestaConsultaUsuario"
      on-error = "errorConsultaUsuario">
    <iron-ajax
      id="doCuentasMovimientos"
      url="http://localhost:3000/TodosCuentasMovimientos"
      content-type="application/json"
      crossDomain: true
      dataType = 'jsonp'
      method ="POST"
      last-response = "{{CuentasMovimientos}}"
      handle-as = "json"
      headers = "Acces-Control-Allow-Headers: *"
      on-response = "respuestaConsultaCuentasMovimientos"
      on-error = "errorConsultaCuentasMovimientos">
    <iron-ajax
      id="doObtenerCliente"
      url="http://localhost:3000/Validacuentacliente"
      content-type="application/json"
      crossDomain: true
      dataType = 'jsonp'
      method ="POST"
      last-response = "{{validacliente}}"
      handle-as = "json"
      headers = "Acces-Control-Allow-Headers: *"
      on-response = "respuestaConsultaCliente"
      on-error = "errorConsultaCliente">
    <iron-ajax
      id="doObtenerCuentaCliente"
      url="http://localhost:3000/Validacuentacliente"
      content-type="application/json"
      crossDomain: true
      dataType = 'jsonp'
      method ="POST"
      last-response = "{{obtieneCuentaCliente}}"
      handle-as = "json"
      headers = "Acces-Control-Allow-Headers: *"
      on-response = "respuestaCuentaCliente"
      on-error = "errorCuentaCliente">
    <iron-ajax
      id="doObtienemaxmovimientos"
      url="http://localhost:3000/Obtienemaxmovimientos"
      content-type="application/json"
      crossDomain: true
      dataType = 'jsonp'
      method ="POST"
      last-response = "{{Obtienemaxmovimientos}}"
      handle-as = "json"
      headers = "Acces-Control-Allow-Headers: *"
      on-response = "respuestaObtienemaxmovimientos"
      on-error = "errorObtienemaxmovimientos">
    <iron-ajax
      id="doObtenerMovimientos"
      url="http://localhost:3000/Obtenermovimientos"
      content-type="application/json"
      crossDomain: true
      dataType = 'jsonp'
      method ="POST"
      last-response = "{{ConsultaMovimientos}}"
      handle-as = "json"
      headers = "Acces-Control-Allow-Headers: *"
      on-response = "respuestaobtenerMovimientos"
      on-error = "errorobtenerMovimientos">
    <iron-ajax
      id="doObtenerCuenta"
      url="http://localhost:3000/Obtenercuenta"
      content-type="application/json"
      crossDomain: true
      dataType = 'jsonp'
      method ="POST"
      last-response = "{{ConsultaCuenta}}"
      handle-as = "json"
      headers = "Acces-Control-Allow-Headers: *"
      on-response = "respuestaobtenerCuenta"
      on-error = "errorobtenerCuenta">
      <iron-ajax
      id="doObtenerApiexterna"
      url="http://localhost:3000/Apiexterna"
      content-type="application/json"
      crossDomain: true
      dataType = 'jsonp'
      method ="POST"
      last-response = "{{apiexternaA}}"
      handle-as = "json"
      headers = "Acces-Control-Allow-Headers: *"
      on-response = "respuestaobtenerApiexterna"
      on-error = "errorobtenerApiexterna">




  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */




    class GestorUsuariosAM extends Polymer.Element {
      static get is() { return 'abc-emisora-serie'; }
      static get properties() {
        return {
          usuarios: {
            type: Array,
            notify: true
          },
          usuarioscuenta: {
            type: Array,
            notify: true
          },
          apiexternaA: {
            type: Array,
            notify: true
          },
          apiexternaV: {
            type: Array,
            notify: true
          },

          cliente: {
            type: Array,
            notify: true
          },
          Obtienemaxmovimientos:{
            type: Array,
            notify: true
          },
          CuentasMovimientos: {
            type: Array,
            notify: true
          },
          obtieneCuentaCliente:{
            type: Array,
            notify: true
          },
          validacion:{
            type: Array,
            notify: true
          },

          validacliente:{
            type: Array,
            notify: true
          },
          ConsultaMovimientos:{
            type: Array,
            notify: true
          },
          ConsultaCuenta:{
            type: Array,
            notify: true
          },

        fechaAhora : {
          type: Date,
          pattern : "[0-9]{4}-[0-9]{2}-[0-9]{2}",
          format : "yyyy-MM-dd",
          value : new Date(),
          notify: true
        },
          IdCuentaClientexiste :{
              type: Number,
              notify: true
          },
          IdConsultaCliente : {
              type: Number,
              notify: true
          },
          IdConsultaMovimientos : {
              type: Number,
              notify: true
          },
          IdClienteMax: {
            type: Number,
            //computed: 'obtenerUsuarios2()',
            observer: 'obtenerUsuarios2',
            //readOnly: true,
            notify: true
          },
          IdCuentaNueva: {
            type: Number,
            notify: true
          },
          GuardaString: {
            type: String,
            value : "",
            notify: true
          },

          IdClienteExiste: {
            type: Number,
            notify: true
          },
          Nombre: {
            type: String
          },
          st_usuario: {
            type: Number
          },
          Apellido: {
            type: String
          },
          Password: {
            type: String
          },
          Email: {
            type: String
          },
          Alta: {
            type: Date
          },
          EmailConsulta : {
            type: String
          },

          fh_consulta: {
            pattern : "[0-9]{2}-[0-9]{2}-[0-9]{4}",
            type: Date

          },


          Id:{
            type: Number
          },
          Fecha: {
            type:Date
          },
          Importe: {
            type: Number
          },
          Tipo: {
              type: String
          },
          IdCuenta : {
            type: String
          },
          IdCliente : {
            type: String
          },
          nb_serie : {
             type: String
          },
          cd_isin : {
             type: String
          },
          im_pre_sucio : {
            type: Number
          },
          im_pre_limpio : {
            type: Number
          },
          fh_publicacion : {
            type: Date,
            notify: true
          },

          visualizarFirmado:{
            type: Boolean,
            value: true
          },
          visualizarUsuarios:{
            type: Boolean,
            value: false
          },
          visualizarConsultaCuentasMovimientos:{
            type: Boolean,
            value: false
          },
          visualizarUsuariosAltaModifica:{
            type: Boolean,
            value: false
          },
          visualizarCuentasMovimientosAltaModifica:{
            type: Boolean,
            value: false
          },

          visualizarUsuariosArreglo:{
            type: Boolean,
            value: false
          },

          visualizarCuentasMovimientosArreglo:{
            type: Boolean,
            value: false
          },

          visualizarBuscaCuentaCliente :{
            type: Boolean,
            value: false
          },
          visualizarCapturaCuentaCliente :{
              type: Boolean,
              value: false
          },
          visualizarCuentasMovimientos:{
            type: Boolean,
            value: false
          },

          visualizarMenu:{
            type: Boolean,
            value: false
          },
          visualizarCuentaCliente:{
            type: Boolean,
            value: false
          },
          visualizarApiExterno:{
            type: Boolean,
            value: false
          },
          visualizarApiExternoConsulta:{
            type: Boolean,
            value: false
          },
          visualizarCuentaAlta:{
            type: Boolean,
            value: false
          }

        };


    }




// Inicia con logeado al sistema
    login(){
      var today = new Date();
      this.fechaAhora = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
      //this.fh_publicacion = ('0' + today.getDate()).slice(-2) + '-' ('0' + (today.getMonth() + 1)).slice(-2) + '-' + today.getFullYear() ;
      //console.log(this.fh_publicacion);
      var loginData = {
        "Email" : this.Email,
        "Password" : this.Password
      };
      console.log(loginData);
      this.$.doLogin.body = JSON.stringify(loginData);
      this.$.doLogin.generateRequest();
      console.log("Petición enviada");

    }

// Lectura de Usaurios AM
    obtenerUsuarios(){
      this.visualizarCuentasMovimientos = false;
      this.visualizarCuentasMovimientosArreglo = false;
      this.visualizarCuentasMovimientosAltaModifica = false;
      this.visualizarUsuariosArreglo = true;
      var usuarioData = {
        "Email":  this.EmailConsulta
      };
      console.log(usuarioData);
      this.$.doUsuario.body = JSON.stringify(usuarioData);
      this.$.doUsuario.generateRequest();
      console.log("Petición enviada");

    }


// Asiga en último número de registro de Usaurios AM
      obtenerUsuarios2(){
      console.log("Comienza úlltimo registro");
      var request = new XMLHttpRequest();
      request.open("POST", "http://localhost:3000/Todosusuarios", false);
      request.send();
      this.usuarioscuenta = JSON.parse(request.responseText);
      console.log(this.usuarioscuenta.length);
      this.IdClienteMax = this.usuarioscuenta.length + 1;

    }
// Obtener Cliente Validado
    obtenerCliente(){
    //var request = new XMLHttpRequest();
    //request.open("POST", "http://localhost:3000/Validacliente", false);
    var Clienteexiste = {
      "IdCliente" : this.IdClienteExiste
    };
    console.log(this.IdClienteExiste);
    this.$.doObtenerCliente.body = JSON.stringify(Clienteexiste);
    this.$.doObtenerCliente.generateRequest();
  }
  cancelarCuenta(){

    this.visualizarCuentaAlta = false;
    this.visualizarUsuariosAltaModifica = false;
    this.visualizarCuentasMovimientos = true;
    this.IdCuentaNueva= '';
    this.IdClienteExiste ='';
  }
  regresarCuentaCliente(){
    this.visualizarCuentaAlta = false;
    this.visualizarUsuariosAltaModifica = false;
    this.visualizarCuentasMovimientos = true;
    this.visualizarBuscaCuentaCliente = false;
    this.visualizarCuentaCliente = false;
    this.visualizarCapturaCuentaCliente = false;
    this.Fecha = this.fechaAhora;
    this.Importe = '';
    this.Tipo = '';
    this.IdCuentaClientexiste = "";


  }
  respuestaConsultaCliente(){
    console.log(this.validacliente.length);
    if (this.validacliente.length = 1) {
      var request = new XMLHttpRequest();
      request.open("POST", "http://localhost:3000/Altacuenta", false);
      request.setRequestHeader("Accept","application/json");
      request.setRequestHeader("Content-type", "application/json");
      var nuevaCuenta ={ "IdCuenta"    : this.IdCuentaNueva ,
                          "Cliente"    : this.IdClienteExiste
                          };
      console.log(nuevaCuenta);
      var body =  JSON.stringify(nuevaCuenta);
      console.log(body);
      request.send(body);
      this.respuesta = request.responseText;
      console.log(this.respuesta);
      //guardaCuenta.disabled = false;
      this.IdCuentaNueva = '';
      this.IdClienteExiste = '';
      alert("La cuenta se guardo exitosamente");

    }
  }
  errorConsultaCliente(){
    //var boton1 = document.getElementById('guardaCuenta');
     //boton1.disabled = false;
    alert("El cliente no existe favor de validar existencia del cliente");
    this.IdClienteExiste ='';
  }


// Obtener Cuenta Cliente
 obtenerCuentaCliente(){
   //var request = new XMLHttpRequest();
   //request.open("POST", "http://localhost:3000/Validacuentacliente", false);
   this.visualizarCapturaCuentaCliente = false;
   this.Fecha = this.fechaAhora;
   this.Importe = '';
   this.Tipo = '';
   var Cuentaclienteexiste = {
     "Cliente" : this.IdCuentaClientexiste
   };
   this.$.doObtenerCuentaCliente.body = JSON.stringify(Cuentaclienteexiste);
   this.$.doObtenerCuentaCliente.generateRequest();
 }
 obtenerCuentaMovimientosCliente(){
   var cliente= 0;
   var cuenta = 0;
   var separador="";
   var Consulta ="";


   if (this.IdConsultaCliente !='')
   {
      Consulta = {"Cliente" : + this.IdConsultaCliente};
      cliente= 1;
   }
   console.log(cliente);
  if (this.IdConsultaCuenta !=''){
      Consulta =  {"IdCuenta" : +  this.IdConsultaCuenta};
      cuenta = 1;
  }
  console.log(cuenta);
  if ((cuenta !=0) && (cliente != 0)){
  //if (!(((isNaN(this.IdConsultaCuenta)) || (this.IdConsultaCuenta !="")) && ((isNaN(this.IdConsultaCliente)) || (this.IdConsultaCliente !=""))))  {
    Consulta =  {"Cliente" : + this.IdConsultaCliente,
      "IdCuenta" : +  this.IdConsultaCuenta    };
  }
  console.log(Consulta);
  if (Consulta=="") {
    alert("Se debe llenar al menos un parámetro de busqueda");
    return false;
  }
  //var Consulta =  cliente + separador +   cuenta ;
  console.log(Consulta);
   this.$.doObtenerCuenta.body = JSON.stringify(Consulta);
   this.$.doObtenerCuenta.generateRequest();
   this.$.doObtenerMovimientos.body = JSON.stringify(Consulta);
   this.$.doObtenerMovimientos.generateRequest();

 }


 respuestaobtenerCuenta(){
   this.visualizarCuentasMovimientosArreglo=true;

 }
 errorobtenerCuenta(){

 }
 respuestaobtenerMovimientos(){
   this.visualizarCuentasMovimientosArreglo=true;
 }
 errorobtenerMovimientos(){

 }




 regresarConsulta(){
   this.visualizarCuentasMovimientosArreglo = false;
   this.visualizarConsultaCuentasMovimientos = false;
   this.visualizarCuentaAlta = false;
   this.visualizarUsuariosAltaModifica = false;
   this.visualizarCuentasMovimientos = true;
   this.visualizarBuscaCuentaCliente = false;
   this.visualizarCuentaCliente = false;
   this.visualizarCapturaCuentaCliente = false;
   this.IdConsultaCliente= '';
   this.IdConsultaCuenta='';
}


respuestaCuentaCliente(){
    console.log(202020);
    this.visualizarCuentaCliente = true;


}
errorCuentaCliente(){
  this.visualizarCuentaCliente = false;
  alert("No hay cuentas asociadas al cliente");
  this.IdCuentaClientexiste = '';
}

cuentaSeleccionada(){
      //this.visualizarCapturaCuentaCliente = true;

      this.Id ='';
      this.Fecha
      this.Importe ='';
      this.Tipo = '';

      console.log(this.obtieneCuentaCliente[0].IdCuenta);
      var obtIdCuenta=this.obtieneCuentaCliente[0].IdCuenta;
      var obtCliente = this.obtieneCuentaCliente[0].Cliente;
      var Listaexiste = {
        "IdCuenta" : obtIdCuenta ,
        "Cliente" : obtCliente
      };
      this.$.doObtienemaxmovimientos.body = JSON.stringify(Listaexiste);
      console.log(Listaexiste);
      this.$.doObtienemaxmovimientos.generateRequest();

}

respuestaObtienemaxmovimientos(){

    //console.log(this.Obtienemaxmovimientos[0].length);
    //console.log(this.Obtienemaxmovimientos[0].listado.length);
    console.log(202024);
    //console.log(this.Obtienemaxmovimientos[0].listado[0].length);
    if  (this.Obtienemaxmovimientos[0].listado != null) {
      var idN = this.Obtienemaxmovimientos[0].listado.length + 1;
    } else {
      var idN =1;
    }
    console.log(idN);
    this.visualizarCapturaCuentaCliente = true;
    //this.Id.disabled = true;
    this.Id = idN;
    //this.Id.disabled = false;
    this.Fecha = this.fechaAhora;
    this.Importe = '';
    this.Tipo = '';
    console.log(this.Id);
  }

errorObtienemaxmovimientos(){


}

guardaMovimiento(){

  var obtIdCuenta=this.obtieneCuentaCliente[0].IdCuenta;
  var obtCliente = this.obtieneCuentaCliente[0].Cliente;
  var envio = '{  $set: { "IdCuenta":' +   this.obtieneCuentaCliente[0].IdCuenta  + ',"Cliente" : ' + this.obtieneCuentaCliente[0].Cliente + ' ,"listado":[';
  console.log(this.GuardaString);
  if (this.GuardaString == '')  {
        var i;
        var lista ='';
        if (this.obtieneCuentaCliente[0].listado == null){
          var listadoMax = 0;
        } else {
          var listadoMax = this.obtieneCuentaCliente[0].listado.length;
        }
        //for (var i = 0; i < this.obtieneCuentaCliente[0].listado.length; i++) {
        for (var i = 0; i < listadoMax; i++) {
          lista = '{"Id":'       +   this.obtieneCuentaCliente[0].listado[i].Id      + ',' +
                '"Importe":'  +   this.obtieneCuentaCliente[0].listado[i].Importe + ',' +
                '"Tipo": "'   +   this.obtieneCuentaCliente[0].listado[i].Tipo    + '",' +
                '"Fecha":"'   +  this.obtieneCuentaCliente[0].listado[i].Fecha    + '"},'
              }
          lista =  lista  + '{ "Id"      : ' +  this.Id  +',' +
                      '"Importe"  : ' +  this.Importe   +',' +
                      '"Tipo"     : "'+  this.Tipo +'",' +
                      '"Fecha"    : "'+  this.Fecha + '"}';
          var fin = '] }}' ;
          this.GuardaString = lista ;
          console.log();
          lista = lista + fin;
          envio =envio  + lista;
   } else {


        var nueva =  ',{ "Id"      : ' +  this.Id  +',' +
                     '"Importe"  : ' +  this.Importe   +',' +
                     '"Tipo"     : "'+  this.Tipo +'",' +
                     '"Fecha"    : "'+  this.Fecha + '"}';
         var fin = '] }}' ;
         this.GuardaString = this.GuardaString + nueva;
        envio = envio  + this.GuardaString + fin;
    }



  var request = new XMLHttpRequest();
  request.open("POST", "http://localhost:3000/AltaMovimientos", false);
  request.setRequestHeader("Accept","application/json");
  request.setRequestHeader("Content-type", "application/json");
  var nuevoMovimiento = {
    "IdCuenta" : obtIdCuenta ,
    "Cliente" : obtCliente,
    "Movimiento"    : envio
  };

  console.log(envio);
  var body =  JSON.stringify(nuevoMovimiento);
  console.log(body);
  request.send(body);
  this.respuesta = request.responseText;
  console.log(this.respuesta);
  this.Id  = this.Id + 1;
  this.Fecha = this.fechaAhora;
  this.Importe = '';
  this.Tipo = '';

}
cancelaMovimiento(){
  this.visualizarCapturaCuentaCliente = false;
  //this.Id="";
  this.Fecha = this.fechaAhora;
  this.Importe = '';
  this.Tipo = '';
}





// Insertar usuarios y más adelante editar los usuarios
    insertarUsuario(){
      var request = new XMLHttpRequest();
      //request.open('POST',"https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
      console.log("Paso 1");
      request.open("POST", "http://localhost:3000/Altausuarios", false);
      console.log("Paso 2");
      request.setRequestHeader("Accept","application/json");
      request.setRequestHeader("Content-type", "application/json");
      console.log("Paso 3");
      //var fechaAhora = new Date()
      //var nuevoCliente={"CustomerId":"12345", "ContactName":"Pepe", "CompanyName":"Pepes erotik shop"};
      var nuevoUsuario ={ "IdCliente"    : this.IdClienteMax ,
                          "Nombre"    : this.Nombre,
                          "Apellido" : this.Apellido,
                          "Password"   : this.Password ,
                          "Email"     : this.Email,
                          //"Alta"       : this.Alta
                          "Alta"       : this.fechaAhora
                          };
      console.log(nuevoUsuario);
      //var nuevoCliente={"CustomerId":"12345", "ContactName":"Pepe", "CompanyName":"Pepes erotik shop"};
      var body =  JSON.stringify(nuevoUsuario);
      console.log(body);
      request.send(body);
      this.respuesta = request.responseText;
      console.log(this.respuesta);
      this.visualizarCuentasMovimientos = false;
      this.visualizarUsuarios = false;
      this.visualizarUsuariosAltaModifica = true;
      this.IdClienteMax = '';
      this.Nombre = '';
      this.Apellido =  '';
      this.Password = '';
      this.Email = '';
      this.Alta = this.fechaAhora;

    }

    //

    // Insertar usuarios y más adelante editar los usuarios
        insertarCuentasMovimientos(){
          var request = new XMLHttpRequest();
          //request.open('POST',"https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
          console.log("Paso 1");
          request.open("POST", "http://localhost:3000/AltaCuentasMovimientos", false);
          console.log("Paso 2");
          request.setRequestHeader("Accept","application/json");
          request.setRequestHeader("Content-type", "application/json");
          console.log("Paso 3");
          //var fechaAhora = new Date();
          //var nuevoCliente={"CustomerId":"12345", "ContactName":"Pepe", "CompanyName":"Pepes erotik shop"};
          var nuevaCuentasMovimientos ={
                            "IdCuenta"      : this.IdCuenta       ,
                            "IdCliente"    : this.IdCliente     ,
                            "nb_serie"      : this.nb_serie       ,
                            "cd_isin"       : this.cd_isin        ,
                            "im_pre_sucio"  : this.im_pre_sucio   ,
                            "im_pre_limpio" : this.im_pre_limpio   ,
                            "fh_publicacion" : this.fh_publicacion
                              };
          console.log("Datos: " &  nuevaCuentasMovimientos);
          //var nuevoCliente={"CustomerId":"12345", "ContactName":"Pepe", "CompanyName":"Pepes erotik shop"};
          var body =  JSON.stringify( nuevaCuentasMovimientos);
          console.log("Datos body: " & body);
          request.send(body);
          this.respuesta = request.responseText;
          console.log(this.respuesta);
          this.visualizarCuentasMovimientos = false;
          this.visualizarUsuarios = false;
          //this.visualizarUsuariosAltaModifica = true;
          this.visualizarCuentasMovimientosAltaModifica = true;
          this.IdCuenta = '';
          this.IdCliente = '';
          this.nb_serie = '';
          this.cd_isin = '';
          this.im_pre_sucio = '';
          this.im_pre_limpio = '';
          //this.fh_publicacion = this.fh_publicacion;
        }







    gotoUsuario(){
      this.logado = true;
      //this.navigate('login-app');

    }
    respuestaConsultaUsuario(){
      this.visualizarUsuariosArreglo = true;

    }

    errorConsultaUsuario(){
      this.visualizarUsuariosArreglo = false;
      alert("Sin datos de usuarios");
    }

    respuestaFirmado(){
      console.log("Respuesta recibida del servicio api rest apimxjdsa");
      //console.log(data.detail.response);

      this.visualizarFirmado = false;
      this.visualizarMenu = true;

      //return = true
    }

    errorFirmado(){
      console.log("Hubo un error recibida del servicio api rest apimxjdsa");
      alert("Datos de firmado incorrectos, por favor valide");
      console.log(err);
      this.visualizarMenu = false;
      this.visualizarFirmado = true;
      //return = false
    }

    UsuariosAM(){

      this.visualizarMenu = false;
      this.visualizarUsuarios = true;

    }

    CuentasMovimientosAM(){
      this.visualizarMenu = false;
      this.visualizarCuentasMovimientos = true;

    }

    //OK
    altaUsuarios(){
      this.visualizarCuentasMovimientos = false;
      this.visualizarUsuarios = false;
      this.visualizarUsuariosAltaModifica = true;
      this.visualizarUsuariosArreglo = false;
      this.IdClienteMax = '';
      this.Nombre = '';
      this.st_usuario = '';
      this.Apellido =  '';
      this.Password = '';
      this.Email = '';
      this.Alta = '';
    }
    //ok
    cancelarUsuario(){
      this.visualizarUsuarios = true;
      this.visualizarUsuariosAltaModifica = false;
      this.visualizarCuentasMovimientos = false;
      this.IdCliente = '';
      this.Nombre = '';
      this.Apellido =  '';
      this.Password = '';
      this.Email = '';
      this.Alta = '';

      //this.IdCliente='';
      //this.set(this.IdCliente,null);
      //this.IdCliente = obtenerUsuarios2();
    }
    altaCuentasMovimientos(){
      this.visualizarCuentasMovimientos = false;
      this.visualizarUsuarios = false;
      this.visualizarCuentasMovimientosArreglo = false;
      this.visualizarCuentasMovimientosAltaModifica = true;
      this.IdCuenta = '';
      this.IdCliente = '';
      this.nb_serie = '';
      this.cd_isin = '';
      this.im_pre_sucio = '';
      this.im_pre_limpio = '';

      console.log(this.fechaAhora);
      this.fh_publicacion = this.fechaAhora;
      console.log (this.fh_publicacion);
    }

    altaCuenta(){
      this.visualizarCuentasMovimientos = false;
      this.visualizarUsuarios = false;
      this.visualizarCuentasMovimientosArreglo = false;
      this.visualizarCuentaAlta = true;
      this.IdCuenta = '';
      this.IdClienteNuevo = '';
      console.log('OKFECHA');
    }

    altaMovimientos(){
      this.visualizarCuentaAlta =  false;
      this.visualizarCuentasMovimientos = false;
      this.visualizarUsuarios = false;
      this.visualizarCuentasMovimientosArreglo = false;
      this.visualizarBuscaCuentaCliente = true;
      this.IdCuenta = '';
      this.IdClienteNuevo = '';
      console.log('OKFECHA');


    }




    obtenerCuentasMovimientos(){
      this.visualizarCuentasMovimientos = true;
      this.visualizarCuentasMovimientosArreglo = true;
      this.visualizarCuentasMovimientosAltaModifica = false;
      this.visualizarUsuariosArreglo = false;
      console.log(this.fh_consulta);
      var CuentasMovimientosData = {
        "fh_publicacion":  this.fh_consulta
      };
      console.log(CuentasMovimientosData);
      this.$.doCuentasMovimientos.body = JSON.stringify(CuentasMovimientosData);
      this.$.doCuentasMovimientos.generateRequest();
      console.log("Petición enviada");
    }




    regresarMenu(){
      this.fh_consulta = '';
      this.visualizarMenu = true;
      this.visualizarCuentasMovimientos = false;
      this.visualizarUsuarios = false;
      this.visualizarUsuariosArreglo = false;
      this.visualizarCuentasMovimientosArreglo = false;
      this.EmailConsulta = ''
    }

    respuestaConsultaCuentasMovimientos(){
      this.visualizarCuentasMovimientos = true;
      this.visualizarCuentasMovimientosArreglo = true;
      this.visualizarCuentasMovimientosAltaModifica = false;

    }
    errorConsultaCuentasMovimientos(){
      this.visualizarCuentasMovimientos = true;
      this.visualizarCuentasMovimientosArreglo = false;
      this.visualizarCuentasMovimientosAltaModifica = false;

    }
    consultaCuentasMovimientos(){
      this.IdConsultaCliente = '';
      this.IdConsultaCuenta = '';
      this.visualizarCuentasMovimientos= false;
      this.visualizarConsultaCuentasMovimientos = true;

    }



    cancelarCuentasMovimientos(){
      this.visualizarCuentaAlta = false;
      this.visualizarCuentasMovimientos = true;
      this.visualizarCuentasMovimientosAltaModifica = false;
      this.visualizarUsuarios = false;
      this.IdCuenta = '';
      this.IdCliente = '';
      this.nb_serie = '';
      this.cd_isin = '';
      this.im_pre_sucio = '';
      this.im_pre_limpio = '';
      this.fh_publicacion = this.fechaAhora;

    }
    // Asiga en último número de registro de Usaurios AM

        apiPublico(){
            this.visualizarApiExternoConsulta = false;
            this.visualizarApiExterno = true;
            this.visualizarMenu = false;
        }
        obtenerClientesMexico(){
          var pais = {
            "Country" : 'Mexico'
          };
          this.$.doObtenerApiexterna.body = JSON.stringify(pais);
          this.$.doObtenerApiexterna.generateRequest();

        }
        regresarClientesMexico(){
          this.visualizarMenu = true;
          this.visualizarApiExternoConsulta = false;
          this.visualizarApiExterno = false;
          this.visualizarCuentaAlta = false;
          this.visualizarUsuariosAltaModifica = false;
          this.visualizarCuentasMovimientos = false;
          this.visualizarBuscaCuentaCliente = false;
          this.visualizarCuentaCliente = false;
          this.visualizarCapturaCuentaCliente = false;

        }

        respuestaobtenerApiexterna(){
          this.visualizarApiExternoConsulta = true;
          this.visualizarApiExterno = true;

        }
        errorobtenerApiexterna(){

        }






    }

    window.customElements.define(GestorUsuariosAM.is, GestorUsuariosAM);
  </script>
</dom-module>
